################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin/Chess/obj
/Xamarin/Chess/bin/Debug/netstandard2.0
/Xamarin/.vs/Chess/v16
/Xamarin/Chess.UWP/bin/x86/Debug
/Xamarin/Chess.UWP/obj
/UWP/Chess/.vs/Chess/v16
/UWP/Chess/Chess/bin/x86/Debug
/UWP/Chess/Chess/obj
/Xamarin/.vs/Chess/DesignTimeBuild
/UWP/Chess/Chess.Model/obj
/UWP/Chess/.vs/Chess
/UWP/Chess/Chess.Model/bin
/UWP/Chess/Chess.Model.Test/bin/x86/Debug
/UWP/Chess/Chess.Model.Test/obj
/UWP/Chess/.vs/config
/UWP/Chess/Chess/Chess.csproj.user
